.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 20vw;
  z-index: 12;
  height: var(--height-header);
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .search {
    flex: 1;
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
