@import '@/components/shares/GlobalStyles/variables';
.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: black;
  .wrapper {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-between;
    .input {
        background-color: transparent !important;
      color: black !important;
      width: 100%;
      border: $line-border;
      border-radius: 1rem;
      font-size: 1.4rem;
      line-height: 1.4rem;
      transition: all 0.2s ease-in-out;
      padding: 1.8rem 1.5rem;
      // letter-spacing: 0.2rem;
      text-align: center;
      color: black;
      &:focus {
        box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.5);
      }
      &.error {
        border-color: $error;
        box-shadow: 0 0 0.4rem 0 $error;
      }
    }
  }
}