.filter-collection-item {
  &:not(:last-child) {
    border-bottom: 0.1rem solid #f7f8f9;
  }
  padding: 2rem 0;
  &.gender-filter {
    transition: height 0.4s linear;
    height: calc(4.9rem + 4rem);
    &.open {
      height: 280px;
    }
  }
}

.content-filter {
  height: 0;
  transition: all 0.4s linear;
  overflow: hidden;
  transform: translateY(-20px);
  &.open {
    transform: translateY(0);
    height: 100%;
  }
  .filter-container {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: normal;
    gap: 1rem;
  }
  .type-filter-item {
    display: flex;
    align-items: center;
    text-transform: none;
    font-weight: normal;
    label {
      padding: 1.4rem;
      flex: 1;
      cursor: pointer;
    }
  }
}
