.filter-collection-item {
  &:not(:last-child) {
    border-bottom: 0.1rem solid #f7f8f9;
  }
  padding: 2rem 0;
  &.gender-filter {
    transition: height 0.4s linear;
    height: calc(2.1rem + 4rem);
    &.open {
      height: 11rem;
    }
  }
}

.content-filter {
  height: 0;
  transition: all 0.4s linear;
  overflow: hidden;
  transform: translateY(-20px);
  &.open {
    transform: translateY(0);
    height: 100%;
  }
  .filter-container {
    display: flex;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 1.5rem 0;
    gap: 1rem;
  }
  .gender {
    padding: 0.5rem;
    height: 100%;
    &-sw {
      min-width: 6rem;
      background-color: #f7f8f9;
      color: var(--primary);
      padding: 1rem 1.6rem;
      border-radius: 0.4rem;
      text-transform: capitalize;
      cursor: pointer;
      font-weight: 500;
      transition: all 0.4s ease-in-out;
    }
    input[type='radio']:checked ~ .gender-sw {
      color: #fff;
      background-color: var(--primary);
    }
  }
}
