.customer-login {
  .input-line {
    height: 0.5rem;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .btn-action {
    margin-top: 1.6rem;
  }
  .redirect-form {
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0 0;
    letter-spacing: 0.2rem;
    .redirect-btn {
      cursor: pointer;
    }
  }
}
